<%- include('../partials/header') %>
<main class="main" id="main">
    <h2><%= name %></h2>
    <img src="<%= img %>" alt="gif or images of people enjoying movies">
    <% data.forEach(movie => {%>
        <div class="col" id="div">
            <div class = "card h-100">
                <div class = "card-body">
                    <h2 class = "card-title">
                        <%= movie.title %>
                    </h2>
                    
                    <img src="<%= movie.posterURL %>" alt="image of <%= movie.title %>">
                </div>
            </div>
        </div>
    <% }) %> 
    
</main>
<%- include('../partials/footer') %>