<%- include('../partials/header') %>
<main class="main" id="main">
    <h1><%= name %></h1>
    <div class="div" id="div">
        <p><%= data.title %></p>
        <img src="<%= img %>" alt="This is a picture <%= data.title %>">
    </div>
</main>
<%- include('../partials/footer') %>